/* COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.general-container{
    width: 100%;
    height: 100vh;
}

body {
    font-family: sans-serif;
}

.active{
    background-color: #5a86d4;
    color: #fff;
}

.hidden{
    display: none;
}

.red-bomb {
    background-color: red;
    color: #fff;
}

/* HEADER */
.col{
    height: 100%;
    display: flex;
    align-items: center;
}

header{
    background-color: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

/* LEFT */
.logo img{
    width: 50px;
    height: 50px;
}

.logo-text h2{
    margin-left: 20px;
    color: black;
    font-size: 30px;
}

.start {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
}

/* RIGHT */
.end{
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
}

select {
    margin: 0px 5px;
    width: 150px;
}

button {
    margin: 0px 5px;
    padding: 0px 25px;
}

/* MAIN */
main{
    width: 100%;
    height: calc(100% - 140px);
    background-color: #7fffd4;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GRIGLIA CELLE */
.games-grid{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    /* border: 1px solid black; */
}

/* SINGOLA CELLA */
.singlecell{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

/* DIMENSIONI DIVERSE CELLE */
.cell-easy{
    width: calc(100% / 10);
    height: calc(100% / 10);
}
.cell-hard{
    width: calc(100% / 9);
    height: calc(100% / 9);
}
.cell-crazy{
    width: calc(100% / 7);
    height: calc(100% / 7);
}

/* FOOTER */
footer {
    background-color: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

footer h3 {
    font-weight: normal;
    font-size: 14px;
}

footer a{
    color: #6edab6;
}